.footer {
  background-color: $dark-gray;
  color: $white;
  padding: 4rem 32px;
  display: flex;
  align-items: center;

  .footer-container {
    display: flex;
    flex-direction: column;
    max-width: $max-grid;
    margin: 0 auto;
    align-items: center;
    width: 100%;

    .footer-container-colums {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;

      .footer-column {
        flex: 1;
        min-width: 250px;
        padding: 1rem 32px;

        &:first-child {
          padding: 1rem 0;
        }
        &:last-child {
          padding: 1rem 0;
        }

        @media (max-width: 564px) {
          padding: 1rem 0 1rem 32px;
        }

        @media (max-width: 563px) {
          padding: 1rem 0;
        }
      }
    }

    .footer-container-text {
      padding: 4rem 0 0 0;
    }
  }

  .footer-logo {
    img {
      width: 150px;
      margin-top: 2rem;
    }
  }

  .footer-contact {
    display: flex;
    flex-direction: column;
    div{
      padding: 0.5rem 0;
    }

    i {
      margin-right: 0.5rem;
      min-width: 1rem;
    }

    a {
      color: $white;
      text-decoration: none;
      margin-bottom: 0.5rem;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  .footer-social-icons {
    display: flex;
    flex-direction: column;

    a {
      display: flex;
      align-items: center;
      margin: 0.5rem 0;

      p{
        color: $white;
        transition: transform 0.3s;
        margin-left: 1rem;
      }

      i {
        font-size: 1.5rem;
        color: $white;
        transition: transform 0.3s;
      }
      &:hover {
        text-decoration: none;
        p{
          text-decoration: underline;
        }
      }
    }
  }
}
