header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background-color: transparent;
   padding: 1rem 32px;
   transition: background-color 0.3s ease;
   z-index: 1000;

   .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: $max-grid;
      margin: 0 auto;

      .logo {
         img {
            width: auto;
            height: 150px;
            @media (max-width: 766px) {
               height: 100px;
            }
         }
      }

      .nav-links {
         list-style: none;
         display: flex;
         gap: 1rem;

         a {
            color: $white;
            text-decoration: none;
            font-size: $normal;
            font-weight: 500;
            position: relative;
            text-transform: uppercase;
            padding-bottom: 0.2rem;
            

            &:hover {
               text-decoration: none !important;
            }

            &::before,
            &::after {
               transition: all 0.5s;
            }

            &::after {
               position: absolute;
               bottom: 0;
               left: 0;
               margin: auto;
               width: 0;
               content: ".";
               color: transparent;
               background: $primary-green;
               height: 2px;
            }

            &:hover::after,
            &.active::after {
               width: 100%;
            }
         }
      }

      .menu-icon {
         #menu-icon {
            .bar {
               background-color: $white;
               height: 2px;
               border-radius: 5px;
               transition: all 0.3s ease;
               margin: 0.35rem 0;

               &.bar1 {
                  margin-top: 0;
               }
               &.bar3 {
                  margin-bottom: 0;
               }
            }
         }
      }
   }

   &.sticky {
      background-color: $dark-gray;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

      .logo {
         img {
            width: auto;
            height: 100px;

            @media (max-width: 766px) {
               height: 80px;
            }
         }
      }

      .nav-links a {
         color: $white;
         font-weight: 500;
         transition: all 0.3s ease-in-out;
         font-size: $normal;
      }
   }
}

/*------MENU-------*/

.menu-icon {
   cursor: pointer;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 30px;
   height: 20px;
   transition: transform 0.3s ease;

   .bar {
      background-color: $white;
      height: 2px;
      border-radius: 5px;
      transition: all 0.3s ease;
      margin: 0.35rem 0;

      &.bar1 {
         margin-top: 0;
      }
      &.bar3 {
         margin-bottom: 0;
      }
   }
}

.navbar.active {
   .bar1 {
      transform: rotate(45deg) translate(7px, 5px);
   }
   .bar2 {
      opacity: 0;
   }
   .bar3 {
      transform: rotate(-45deg) translate(5px, -5px);
   }
}

/*------MEDIA QUERY-------*/

@media (max-width: 766px) {
   .nav-links {
      visibility: hidden;
      opacity: 0;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: $dark-gray;
      width: 100%;
      padding: 1rem 16px;
      gap: 1.5rem;
      transform: scaleY(0);
      transform-origin: top;
      transition:
         transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1),
         opacity 0.4s ease;

      .navbar.active & {
         visibility: visible;
         opacity: 1;
         transform: scaleY(1);

         a {
            color: $white;
            font-size: 1.2rem;
         }
      }
   }

   .logo {
      width: 50%;
      img {
         width: auto;
      }
   }

   .menu-icon {
      display: block;
   }
}

@media (min-width: 767px) {
   .navbar ul {
      gap: 2rem;
   }

   .nav-links {
      display: flex;
   }

   .menu-icon {
      display: none;
   }
}
