.section {
  padding: 5rem 32px 7rem 32px;
  text-align: center;
  height: 100%;

  &:nth-child(even) {
    background-color: $white;
    color: $black;
  }

  &:nth-child(odd) {
    background-color: $dark-gray;
    color: $white;
  }

  .section-content {
    margin: 0 auto;
    max-width: $max-grid;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__about {
      padding: 2rem 0;
      display: flex;
      gap: 2rem;

      &--img{
        width: 100%;
        height: 300px;
        img {
          object-fit: cover;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          border-radius: 5px;
          height: 100%;
          width: 100%;
        }
      }
      p {
        text-align: left;
        width: 100%;
      }
    }
    &__members{
      display: flex;
      margin-top: 3rem;
      justify-content: center;
      align-items: center;
      @media (max-width: 766px) {
        flex-direction: column;
        margin-top: 2rem;
      }
      div{
        max-width: 50%;
        height: 130px;
        margin: 0 2rem;
        @media (max-width: 766px) {
          margin: 1rem 0;
          max-width: 100%;
        }
        img{
          width: 100%;
          height: 100%;
          @media (max-width: 766px) {
            width: unset;
          }
        }
      }
    }

    &__services {
      padding-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      align-items: center;
      justify-content: center;

      > a {
        flex: 0 0 calc((100% / 3) - 2rem);
        min-width: 300px;
        position: relative;

        @media screen and (max-width: 766px) {
          flex: 0 0 calc((100%) - 2rem);
          
        }
        .section-content__services--img{
          height: 250px;
          width: 100%;
          border-radius: 5px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
          overflow: hidden;
          img {
            border-radius: 5px;
            height: 100%;
            width: 100%;
            transition: all .2s linear;
            object-fit: cover;
            transform: scale(1);
        
          }
        }
        .section-content__services--text{
          position: absolute;
          bottom: 5%;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          h2{
            font-size: 1.25rem;
            color: $black;
            font-weight: 700;
            transition: all 0.3s ease-in-out;
            width: fit-content;
            max-width: 100%;
            padding: 0.5rem 1rem;
            background-color: $primary-green;
            text-transform: uppercase;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }

        &:hover{
          cursor: pointer;
          h2{
            text-decoration: underline;
          }
          .section-content__services--img{

          }
          img{
            transform: scale(1.05);
         
          }
        }
      }
    }

    &__contact {
      padding-top: 4rem;
      display: flex;
      gap: 4rem;

      @media (max-width: 766px) {
        display: flex;
        flex-direction: column;
      }

      &--text {
        width: 100%;
        p {
          text-align: left;
        }
        &-link{
          margin: 2rem 0;
          display: flex;
          a{
            color: $black;
            text-decoration: underline;
            &::after{
              content: "\f061";
              font-family: 'Font Awesome\ 6 Free';
              font-size: .8rem;
              font-weight: 900;
              margin-left: 8px;
              display: inline-block;
            }
          }
        }
      }

      &--links {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        > div {
          display: flex;
        }
      }

      &--icon {
        i {
          margin-right: 0.5rem;
          font-size: 2rem;
          padding: 1rem;
          width: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $primary-green;
          color: $black;
          margin-right: 1.5rem;
          border-radius: 5px;
        }
      }

      &--link {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          font-weight: 600;
        }
        a {
          color: $black;
        }
      }
    }
  }

  @media (max-width: 766px) {
    .section-content__about {
      padding-top: 2rem;
      display: flex;
      flex-direction: column;

      img {
        margin: 0;
      }
      p {
        padding-top: 2rem;
        margin: 0;
      }
    }
  }
}

.section-height-contact {
  min-height: 50vh;
}
.section-height-about {
  min-height: 60vh;
}
.section-height-services {
  min-height: 70vh;
}

//section-page
.section-page-contact{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    width: 100%; 
    max-width: 1440px; 
    margin: 0 auto; 
    padding: 4rem 0;
    column-gap: 1rem;

  > div{
    height: auto;
    transition: all .2s linear;
    width: calc(33.333% - 1rem); /* Minus gap för att få plats */
    min-width: 250px; /* Hindrar att de blir för små */

    @media (max-width: 999px) {
      width: calc(50% - 1rem);
  }
  
  @media (max-width: 699px) {
    width: 100%;

  }
    .contact-card{
      display: flex;
      flex-direction: column;
      min-height: 20rem;
      position: relative;
      transition: all .2s linear;
      height: 100%;
  
      &__img{
        height: 30rem;
        overflow: hidden;
        position: relative;
        &-wrapper{
          display: flex;
          height: 100%;
          justify-content: center;
          width: 100%;
          img{
            display: block;
            height: auto;
            max-width: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
  
      }
      &__content{
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        background-color: $primary-green;
        left: 0px;
        right: 0px;
        align-items: center;
        min-height: 9rem;
        justify-content: center;
        padding: 16px;
        
        h3{
          font-size: 1rem;
          max-width: 40rem;
          text-align: left;
          margin: 0;
        }
        p{
          text-align: left;
          font-weight: 600;
          font-size: 0.875rem;
        }
        a{
          color: $black;
          text-align: left;
          text-decoration: underline;
          font-size: 0.875rem;
        }
        span{
          text-align: center;
          margin: 0 16px;
          font-size: 0.875rem;
        }
      }
    }
  }
}
