/*------SECTION HOME-------*/

.section-home {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); /* Ange din bakgrundsbild */
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: 1;
  }

  .home-content {
    position: relative;
    text-align: center;
    color: $light-beige;
    z-index: 2;
    opacity: 0;
    transform: translateY(30px);
    animation: slide-up 1s forwards;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      opacity: 0; /* Döljer texten först */
      transform: translateY(30px); /* Flyttar texten ner för att få glidande effekt */
      animation: slide-up 1s forwards; /* Animation */
    }

    &-button{
      background: $primary-green;
      padding: 1.5rem;
      margin: 2rem;
      border-radius: 5px;
      a{
        font-size: 1.2rem;
        font-weight: 600;
        color: $white;
      }
    }

    .fade-in {
      animation-delay: 0.2s; /* Fördröjning för rubrik */
    }

    .fade-in:nth-child(2) {
      animation-delay: 0.4s; /* Fördröjning för paragraf */
    }
  }

  @media (max-width: 766px) {
    .section-home {
      height: 60vh;
    }
  }
}

/* Animationen som gör att texten glider upp */
@keyframes slide-up {
  to {
    opacity: 1; /* Gör texten synlig */
    transform: translateY(0); /* Återställ position */
  }
}


/*------SECTION PAGE-------*/
.section-page {
  position: relative;
  overflow: hidden;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: 1;
  }

  .home-content {
    position: relative;
    text-align: center;
    color: $light-beige;
    z-index: 2;
    opacity: 0;
    transform: translateY(30px);
    animation: slide-up 1s forwards;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      opacity: 0; /* Döljer texten först */
      transform: translateY(30px); /* Flyttar texten ner för att få glidande effekt */
      animation: slide-up 1s forwards; /* Animation */
    }

    &-button{
      background: $primary-green;
      padding: 1.5rem;
      margin: 2rem;
      border-radius: 5px;
      a{
        font-size: 1.2rem;
        font-weight: 600;
        color: $white;
      }
    }

    .fade-in {
      animation-delay: 0.2s; /* Fördröjning för rubrik */
    }

    .fade-in:nth-child(2) {
      animation-delay: 0.4s; /* Fördröjning för paragraf */
    }
  }

  @media (max-width: 766px) {
    .section-home {
      height: 50vh;
    }
  }
}

.tegeltak{
  &::before {
    content: "";
    background-image: url("https://plus.unsplash.com/premium_photo-1710282122654-604457e6cc95?q=80&w=2050&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); /* Ange din bakgrundsbild */
  }
}