/*------SECTION HOME-------*/

.section-home {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/assets/metalworker_colored.webp"); /* Ange din bakgrundsbild */
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: 1;
  }

  .home-content {
    position: relative;
    text-align: center;
    color: $white;
    z-index: 2;
    opacity: 0;
    transform: translateY(30px);
    animation: slide-up 1s forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    h1{
      text-shadow: 1px 1px 4px rgba(0,0,0,.8);
    }

    p {
      opacity: 0; /* Döljer texten först */
      transform: translateY(30px); /* Flyttar texten ner för att få glidande effekt */
      animation: slide-up 1s forwards; /* Animation */
      text-shadow: 1px 1px 4px rgba(0,0,0,.8);
      font-size: 1.25rem;
    }

    &-button{
      background: $primary-green;
      padding: 1.5rem;
      margin: 2rem;
      border-radius: 5px;
      a{
        font-size: 1.2rem;
        font-weight: 700;
        color: $black;
      }
    }

    .fade-in {
      animation-delay: 0.2s; /* Fördröjning för rubrik */
    }

    .fade-in:nth-child(2) {
      animation-delay: 0.4s; /* Fördröjning för paragraf */
    }
  }

  @media (max-width: 766px) {
    .section-home {
      height: 60vh;
    }
  }
}

/* Animationen som gör att texten glider upp */
@keyframes slide-up {
  to {
    opacity: 1; /* Gör texten synlig */
    transform: translateY(0); /* Återställ position */
  }
}


/*------SECTION PAGE-------*/
.section-page {
  position: relative;
  overflow: hidden;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: 1;
  }

  .home-content {
    position: relative;
    text-align: center;
    color: $light-beige;
    z-index: 2;
    opacity: 0;
    transform: translateY(30px);
    animation: slide-up 1s forwards;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
      text-shadow: 1px 1px 4px rgba(0,0,0,.8);
    }
    p {
      opacity: 0; /* Döljer texten först */
      transform: translateY(30px); /* Flyttar texten ner för att få glidande effekt */
      animation: slide-up 1s forwards; /* Animation */
    }

    &-button{
      background: $primary-green;
      padding: 1.5rem;
      margin: 2rem;
      border-radius: 5px;
      a{
        font-size: 1.2rem;
        font-weight: 600;
        color: $white;
      }
    }

    .fade-in {
      animation-delay: 0.2s; /* Fördröjning för rubrik */
    }

    .fade-in:nth-child(2) {
      animation-delay: 0.4s; /* Fördröjning för paragraf */
    }
  }

  @media (max-width: 766px) {
    .section-home {
      height: 50vh;
    }
  }
}

.platslageri{
  &::before {
    content: "";
    background-image: url("/assets/metalworker_background.webp"); /* Ange din bakgrundsbild */
  }
}

.tegeltak{
  &::before {
    content: "";
    background-image: url("/assets/realistic_tile_roof_installation.webp"); /* Ange din bakgrundsbild */
  }
}
.snoskottning{
  &::before {
    content: "";
    background-image: url("/assets/snoskottning_realistic_background.webp"); /* Ange din bakgrundsbild */
    background-position: 50% 30%;
  }
}
.taksakerhet{
  &::before {
    content: "";
    background-image: url("/assets/taksakerhet_with_workers.webp"); /* Ange din bakgrundsbild */
    background-position: 50% 60%;
  }
}
.takmalning{
  &::before {
    content: "";
    background-image: url("/assets/roof_cleaning_background.webp"); /* Ange din bakgrundsbild */
  }
}


.contact{
  &::before {
    content: "";
    background-image: url("/assets/img/contact.webp"); /* Ange din bakgrundsbild */
  }
}