@import "variables.scss";

@import 
"components/body.scss", 
"components/header.scss", 
"components/footer.scss",
"components/section.scss", 
"components/section-home.scss",
"components/services.scss",
"components/body.scss";

