@use "variables" as *;

@use "components/body" as *;
@use "components/header" as *;
@use "components/footer" as *;
@use "components/section" as *;
@use "components/section-home" as *;
@use "components/services" as *;

