$font-family: "Open Sans", sans-serif;
// @font-face {
//    font-family: 'Gotham';
//    src: url('../fonts/GothamMediumRegular.ttf') format('woff2');
//    font-weight: normal;
//    font-style: normal;
// }

// $font-family: 'Gotham', sans-serif;

$primary-green: #74aa50;
$dark-green: #4d722d;
$light-beige: #f5f5eb;
$dark-gray: #333333;
$soft-gray: #cccccc;

$black: black;
$white: white;

$max-grid: 1440px;

$h1: 3rem;
$h2: 2.5rem;
$h3: 1.7rem;
$h1-mobile: 2rem;
$h2-mobile: 1.8rem;
$h3-mobile: 1.3rem;
$normal: 1rem;
